/*Font*/

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('font/CaviarDreams-webfont.eot');
    src: url('font/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/CaviarDreams-webfont.woff2') format('woff2'),
         url('font/CaviarDreams-webfont.woff') format('woff'),
         url('font/CaviarDreams-webfont.ttf') format('truetype'),
         url('font/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*All page*/

html, body
{
    margin: 0;
    padding: 0;
}


body
{
    font-family:'caviar_dreamsregular', serif ;
}

#bloc_page
{
    width:100%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  
}

h1
{
    font-size: 3em;
    font-weight: normal;
    margin-top: 10%;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.3em;
    font-weight: bold;
    border-bottom: 2px solid rgb(248,187,208);
    padding-bottom: 2%;
}


/*Header*/

header
{
    width: 95%;
}
.name
{
    color:rgb(248,187,208);
    font-weight: bold;
}

.line
{
    border-bottom:1.5px solid rgb(248,187,208);
}

header h3
{
    margin-top: 0px;
    margin-bottom: 10%;
}


/*Section*/

#right
{
    margin-left: 5%;
}

#right section
{
    width: 95%;
    height: auto;
}

#right p
{
    font-size: 1em;
}

#formation i
{
    float: left;
    padding-right: 5%;
    color: rgb(248,187,208);
    font-size: 1.4em;
}

#experience i
{
    float: left;
    padding-right: 5%;
    color: rgb(248,187,208);
    font-size: 1.4em;
}

#recommendation i
{
    float: left;
    padding-right: 5%;
    color: rgb(248,187,208);
    font-size: 1.4em;
}

#right h3
{
    font-size: 1.2em;
}

#right h4
{
    font-size: 1em;
}

.job
{
    width: 60%;
}


ul
{
    color: rgb(248,187,208);
    
}

#web ul
{
    list-style-image: url(circle.svg);    
}
    
.date
{
    color: black;
    font-size: 1em;
}

#formation>div
{
    display: flex;
    justify-content: space-between;
}

#experience>div
{
    display: flex;
    justify-content: space-between;
}

#recommend
{
    display: flex;
}

#recommend p
{
    width: 60%;
}

#free ul
{
    list-style-image: url(circle.svg);
}


/*Section left*/

#left
{
    width: 80%;
}

#left section
{
    margin-right: 0%;
}

#back
{
    height: 100%;
    background-color: rgb(248,187,208);
}

#photo
{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
}

#photo img
{
    overflow:hidden;
    border-radius:70px;
    width:130px;
    height:130px;
}

#back h2
{
    background-color: rgb(66,66,66);
    color: rgb(248,187,208);
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-weight: bold;
}

#back p
{
    padding-left: 9%;
    font-size: 1em;
}

#back a
{
    color: rgb(66,66,66);
    font-size: 1em;
    overflow-wrap: break-word;
}

#back a:hover
{
    color:rgb(0,151,167);
}

#about p
{
    text-align: justify;
    padding:6% 15% 165% 15%;
    font-size: 1em;
}

#hobby h2
{
    margin-bottom: 12%;
}

#icon i
{
    font-size: 2.3em;
    text-align: center;
    overflow:hidden;
    border: 1px solid black;
    border-radius:70px;
    width:40px;
    height:37px;
    padding: 2px 1px 1px 1px;
}

#icon
{
    text-align: center; 
    margin-bottom: 10%;
}


@media (min-width: 799px)
{
    #small_header
    {
        display: none;
    }
}

@media (max-width:799px)
{
    #bloc_page
    {
        flex-direction: column-reverse;
        align-items: center;
    }

    header
    {
        display: none;
    }    

    #formation>div
    {
        flex-direction: column;
        align-items: center;
    }

    .job
    {
        text-align:center;
        width: 95%;
    }

    #experience>div
    {
        flex-direction: column;
        align-items: center;
    }

    #recommend
    {
        flex-direction: column;
        align-items: center;
    }

    #left
    {
        width: 95%;
        height: 70%;
    }

    #about p
    {
        padding:6% 15% 6% 15%;
    }

    #hobby h2
    {
        margin-bottom: 2%;
    }   

    #icon
    {
        padding-bottom: 2%;
    }

    #small_header
    {
        background-color: white;
        padding-bottom: 10%;
    }
}

